<link rel='stylesheet' id='thickbox-css' href='/wp-content/plugins/imswp-plugin-main/public/css/library.min.css' media='all' />
<div class="block-library">
    <div class="wrap">
        <h1>{{ title }}</h1>
    </div>
    <div class="wrap">
        <div id="block-searcher-results"></div>
    </div>
    <div class="wrap">
        <div class="block-filters">
            <div class="block-filters-wrapper">
                <button class="accordion">Category <span class="chevron up">&#9662;</span></button>
                <div class="panel">
                    <div id="filter-category" class="checkbox-group">
                        <label><input type="radio" name="category" value="all" checked> All</label>
                        {% for category in filters.categories %}
                            <label><input type="radio" name="category" value="{{ category }}">{{ category|replace({'-': ' '}) }}</label>
                        {% endfor %}
                    </div>
                </div>

                <button class="accordion">Keyword <span class="chevron up">&#9662;</span></button>
                <div class="panel">
                    <div id="filter-keyword" class="checkbox-group">
                        {% for keyword in filters.keywords %}
                            <label><input type="checkbox" value="{{ keyword }}"> {{ keyword|replace({'-': ' '}) }}</label>
                        {% endfor %}
                    </div>
                </div>

                <button class="accordion">Support <span class="chevron up">&#9662;</span></button>
                <div class="panel">
                    <div id="filter-support" class="checkbox-group">
                        {% for support in filters.supports %}
                            <label><input type="checkbox" value="{{ support }}"> {{ support|replace({'-': ' '}) }}</label>
                        {% endfor %}
                        <label><input type="checkbox" value="screenshot"> Screenshot</label>
                    </div>
                </div>

                {% if filters.themes %}
                <button class="accordion">Theme <span class="chevron up">&#9662;</span></button>
                <div class="panel">
                    <div id="filter-theme" class="checkbox-group">
                        <label><input type="radio" name="theme" value="all" checked> All</label>
                        {% for theme in filters.themes %}
                            <label><input type="radio" name="theme" value="{{ theme }}">{{ theme|replace({'-': ' '}) }}</label>
                        {% endfor %}
                    </div>
                </div>
                {% endif %}
            </div>
        </div>

        <div class="block-list">
            {% for block in blocks %}
                <div class="block-item" data-category="{{ block.category }}" data-keywords="{{ block.keywords|join(' ') }}" data-supports="{{ block.supports|join(' ') }}" data-theme="{{ block.theme }}">
                    <div class="block-title">
                        <h2><strong>Title:</strong> {{ block.title }}</h2>
                    </div>

                    <div class="block-screenshot">
                    {% if block.screenshot_url %}
                        <img src="{{ block.screenshot_url }}" alt="{{ block.title }} Screenshot" class="screenshot">
                    {% else %}
                        <div class="no-screenshot">Screenshot not available</div>
                    {% endif %}

                    </div>

                    <div class="details">
                        <div class="details-box">
                            <div class="details-wrapper">
                                <div class="details-attributes">
                                    <p><strong>Description:</strong> {{ block.description }}</p>
                                    <p><strong>Category:</strong> {{ block.category }}</p>
                                {% if block.keywords %}
                                    <p><strong>Keywords:</strong> {{ block.keywords|join(', ') }}</p>
                                {% endif %}
                                </div>
                                <div class="details-styles">
                                {% if block.styles %}
                                    <p><strong>Styles:</strong><br>
                                    {% for style in block.styles %}
                                            {{ style.label }}{% if style.isDefault %} (Default){% endif %}<br>
                                    {% endfor %}
                                    </p>
                                {% endif %}
                                {% if block.supports %}
                                    <p><strong>Supports:</strong> {{ block.supports|join(', ') }}</p>
                                {% endif %}
                                </div>
                                <div class="details-actions">
                                    <div class="copy">
                                        <button class="copy-button copy" data-template="{{ fn('esc_attr', block.template_html) }}" {% if not block.template_html %}disabled{% endif %}>
                                            {{ block.template_html ? 'Copy Template Code' : 'Unavailable' }}
                                        </button>
                                    </div>
                                    <div class="search">
                                        <button class="copy-button block-search-button" data-slug="{{block.name}}">Find Block</button>
                                    </div>
                                    <div class="identifier">
                                        <button class="copy-button identifier-button" data-identifier="{{ block.theme }}-{{ block.name }}">Copy Block Identifier</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
</div>
<script>
    document.addEventListener('DOMContentLoaded', function() {
        const accordions = document.querySelectorAll('.accordion');
        accordions.forEach(accordion => {
            accordion.addEventListener('click', function() {
                this.classList.toggle('active');
                const panel = this.nextElementSibling;
                const chevron = this.querySelector('.chevron');
                if (panel.style.display === 'block') {
                    panel.style.display = 'none';
                    chevron.classList.remove('up');
                    chevron.classList.add('down');
                } else {
                    panel.style.display = 'block';
                    chevron.classList.remove('down');
                    chevron.classList.add('up');
                }
            });
        });

        const copyButtons = document.querySelectorAll('.copy-button.copy');
        copyButtons.forEach(button => {
            button.addEventListener('click', function() {
                const templateCode = this.getAttribute('data-template');
                
                const tempTextArea = document.createElement('textarea');
                tempTextArea.value = templateCode;
                document.body.appendChild(tempTextArea);
                tempTextArea.select();
                document.execCommand('copy');
                document.body.removeChild(tempTextArea);
                
                alert('Template code copied to clipboard!');
            });
        });

        const identifierButtons = document.querySelectorAll('.copy-button.identifier-button');
        identifierButtons.forEach(button => {
            button.addEventListener('click', function() {
                const identifier = this.getAttribute('data-identifier');
                
                const tempTextArea = document.createElement('textarea');
                tempTextArea.value = identifier;
                document.body.appendChild(tempTextArea);
                tempTextArea.select();
                document.execCommand('copy');
                document.body.removeChild(tempTextArea);
                
                alert('Block identifier copied to clipboard!');
            });
        });

        // Filter functionality
        const filterBlocks = () => {
            const selectedCategory = document.querySelector('#filter-category input:checked').value;
            const selectedKeywords = Array.from(document.querySelectorAll('#filter-keyword input:checked')).map(input => input.value);
            const selectedSupports = Array.from(document.querySelectorAll('#filter-support input:checked')).map(input => input.value);
            const selectedTheme = document.querySelector('#filter-theme input:checked') ? document.querySelector('#filter-theme input:checked').value : 'all';

            document.querySelectorAll('.block-item').forEach(block => {
                const blockCategory = block.getAttribute('data-category');
                const blockKeywords = (block.getAttribute('data-keywords') || '').split(' ');
                const blockSupports = (block.getAttribute('data-supports') || '').split(' ');
                const blockTheme = block.getAttribute('data-theme');

                let visible = true;
                if (selectedCategory !== 'all' && blockCategory !== selectedCategory) visible = false;
                if (selectedKeywords.length && !selectedKeywords.every(keyword => blockKeywords.includes(keyword))) visible = false;
                if (selectedSupports.length && !selectedSupports.every(support => blockSupports.includes(support))) visible = false;
                if (selectedTheme !== 'all' && blockTheme !== selectedTheme) visible = false;

                block.style.display = visible ? '' : 'none';
            });
        };

        document.getElementById('filter-category').addEventListener('change', filterBlocks);
        document.getElementById('filter-keyword').addEventListener('change', filterBlocks);
        document.getElementById('filter-support').addEventListener('change', filterBlocks);
        document.getElementById('filter-theme').addEventListener('change', filterBlocks);
    });
</script>